.home {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
} 

.home > div {
  background: linear-gradient(145deg, var(--elem-bg-grad-top), var(--elem-bg-grad-bottom));
  box-shadow: 5px 5px 10px var(--shadow-bottom-color), -5px -5px 10px var(--shadow-top-color);
  flex: 1;
  min-width: 300px;
  max-width: 600px;
  text-align: center;
  height: 600px;
  margin: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-text > p {
  margin-bottom: 20px;
  max-width: 400px;
}

.list-item {
  margin-top: 20px;
}

.blinking-rectangle {
  display: inline-block;
  width: 10px;
  height: 20px;
  margin-bottom: -3px;
  background-color: var(--rectangle-color);
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
